@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.skills-title {
  font-family: 'Nunito', sans-serif !important;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}
